.House {
    color: green;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.HouseList > img {
    height: 100px;
    width: 200px;
}

.HouseList {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.HouseList-Description {
    display: flex;
    flex-direction: column;
}